<% include ../partials/header %>
            
            <div class="col-1-dash"> 
                
                <div class="user-ic">
                  <i class="fas fa-user-circle"></i>
                  <h4><%=currentUser.username%></h4>
                </div>

                <div class="container">
                  <ul>  
                    <li><i class="fas fa-tachometer-alt"></i> <a href="/student/dashboard/">Dashboard</a> </li>
                    
                    <%if(currentUser.roles.hasOwnProperty('analytics')){%>  
                      <li class="bg-shadow"><i class="fas fa-map"></i> <a href="/student/report">Report</a> </li>
                    <%}%>

                    <%if(currentUser.roles.hasOwnProperty('participant')){%>
                      <li><i class="fas fa-pen-nib"></i> <a href="/student/scheduled">Scheduled Tests</a></li>
                    <%}%>

                    <li><i class="fas fa-user-edit"></i> <a href="/edit/profile/<%=currentUser._id%>">Edit Profile</a> </li>
                  </ul>
                </div>
            </div>

            <div class="col-3-dash">
              <table class="table">
                <thead>
                  <tr>
                    <th>Test</th>
                    <th>Schedule Time</th>
                    <th>Total Questions</th>
                    <th>Total Correct</th>
                    <th>Marks</th> 
                    <th>Details</th> 
                  </tr>
                </thead>

                <tbody>
                  <%results.forEach(function(result){%>
                    <%if(result.schedule !== null){%>
                      <tr>  
                      <td><%=result.schedule.test.title%></td>
                      <td><%=result.schedule.time.toLocaleString()%></td>
                      <td><%=result.total%></td>
                      <td><%=result.totalCorrect%></td>
                      <td><%=parseInt(result.marks)%>%</td>
                      <td><a href="/student/result/<%=result._id%>"><i class="fas fa-paper-plane"></i> View Details</a></td>
                      </tr>
                    <%}%>
                  <%})%>
                </tbody>
              </table>
            </div>
            
<% include ../partials/footer %>
